{% extends 'base.html.twig' %}

{% block title %}CRM-Entreprise{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Bienvenue sur votre CRM-Entreprise</h1>
        </div>
    </div>
</div>
{% endblock %}
