{% extends 'base.html.twig' %}

{% block title %}Edit Customer{% endblock %}

{% block body %}
    <h1>Edit Customer</h1>

    {{ include('customer/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('customer_index') }}" class='btn btn-secondary'>Retourner à la liste</a>

    {{ include('customer/_delete_form.html.twig') }}
{% endblock %}
